# COPY AND RENAMED TO pg_source.conf WITHIN THIS DIRECTORY
# COPY AND RENAMED TO pg_source.conf WITHIN THIS DIRECTORY
# COPY AND RENAMED TO pg_source.conf WITHIN THIS DIRECTORY
pg_source {
  url = ${DB_URL:"jdbc:postgresql://localhost:5432/defaultdb"}
  user = ${DB_USER:"db_user"}
  password = ${DB_PASSWORD:"db_pwd"}
  driver = "org.postgresql.Driver"
  
  table = ${DB_TABLE:"my_table"}
  partitions = ${DB_PARTITIONS:"100"}
  partition-column = "spark_partition"
}